In [41]:
import sys
from recommenders.datasets.python_splitters import python_chrono_split

from recommenders.datasets import covid_utils
from recommenders.models.tfidf.tfidf_utils import TfidfRecommender
from recommenders.datasets import movielens
from recommenders.evaluation.python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k
import pandas as pd
from tqdm import tqdm
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import requests
api_key = "3316500b3ea8149f3373e289f919ec57"
language = "en-US"

In [128]:
movies_df = pd.read_csv('dataset\movies.dat',
                        delimiter='::', engine= 'python', header=None,
                        names=['itemID','movie_name', 'genre'],encoding='latin1')

In [129]:
import pandas as pd


# Function to extract movie name (excluding year)
def extract_movie_name(name):
  # Find the opening parenthesis index
  open_par_index = name.find("(")
  
  # If parenthesis exists, extract the name before it
  if open_par_index != -1:
    return name[:open_par_index].strip()
  else:
    # If no parenthesis, return the whole name
    return name

In [130]:
# Apply the function to the 'movie_name' column and create a new column
movies_df['movie_title'] = movies_df['movie_name'].apply(extract_movie_name)
movies_df=movies_df.drop(columns="movie_name")
movie_list=movies_df["movie_title"].to_list()

using generative ai gimini

In [103]:
# AIzaSyAAzNE5hRNMjYtnmL4rUmJGBScs_L_RK9Q

In [104]:
import pathlib
import textwrap

import google.generativeai as genai

from IPython.display import display
from IPython.display import Markdown


def to_markdown(text):
  text = text.replace('•', '  *')
  return Markdown(textwrap.indent(text, '> ', predicate=lambda _: True))

In [107]:
genai.configure(api_key="AIzaSyAAzNE5hRNMjYtnmL4rUmJGBScs_L_RK9Q")
for m in genai.list_models():
  if 'generateContent' in m.supported_generation_methods:
    print(m.name)

models/gemini-1.0-pro
models/gemini-1.0-pro-001
models/gemini-1.0-pro-latest
models/gemini-1.0-pro-vision-latest
models/gemini-pro
models/gemini-pro-vision

In [168]:

model = genai.GenerativeModel('gemini-pro')

response = model.generate_content("correct this movie name: story toy")
for chunk in response:
    print(chunk.text)

Toy Story

In [16]:
# movie_list = movies_df[['movie_title']].copy()  # Extract movie titles
# movie_list['words'] = movie_list['movie_title'].apply(lambda x: set(x.lower().split()))
# movie_list['words']

0                             {story, toy}
1                                {jumanji}
2                     {old, grumpier, men}
3                    {waiting, to, exhale}
4       {of, father, bride, ii, the, part}
                       ...
3878                  {the, meet, parents}
3879              {for, requiem, dream, a}
3880                           {tigerland}
3881                  {house, family, two}
3882                     {the, contender,}
Name: words, Length: 3883, dtype: object

In [171]:
# from fuzzywuzzy import fuzz

# def correct_movie_name(user_input, movie_list):
#   """
#   Suggests a correction for the misspelled movie name, considering word order.

#   Args:
#       user_input (str): The misspelled movie name.
#       movie_list (list): A list of movie titles.

#   Returns:
#       str: The most likely corrected movie name from the list,
#           or "Movie not found" if no match is found.
#   """

#   user_words = set(user_input.lower().split())
#   max_score = 0
#   corrected_name = None

#   for movie_title in movie_list:
#     movie_words = set(movie_title.lower().split())

#     # Check for subset match (considering word order variations)
#     if user_words.issubset(movie_words) or movie_words.issubset(user_words):
#       score = len(user_words.intersection(movie_words))  # Count matching words
#       if score > max_score:
#         max_score = score
#         corrected_name = movie_title

#     # Optional additional similarity metric (using ratio)
#     ratio = fuzz.ratio(user_input, movie_title)
#     if ratio > 80 and ratio > max_score:  # Adjust threshold as needed
#       max_score = ratio
#       corrected_name = movie_title

#   return corrected_name or "Movie not found"

# # Example usage (replace with your actual movie list)
# movie_list = ["Finding Nemo", "Finding Dory", "The Incredibles", "Toy Story"]
# user_input = "nemo finding"  # Misspelled movie title

# corrected_name = correct_movie_name(user_input, movie_list)
# print(f"Corrected name: {corrected_name}")

Corrected name: Finding Nemo

##using tdmp API

In [172]:
def search_tmdb_by_title(movie_title):
  """
  Searches TMDB for a movie by title and returns the TMDB ID if an exact match is found.

  Args:
      movie_title (str): The title of the movie to search for.

  Returns:
      str: The TMDB ID if found, otherwise None.
  """
  # Base URL for TMDB search API
  base_url = "https://api.themoviedb.org/3/search/movie"
  
  # Search parameters
  params = {
      "api_key": api_key,
      "language": language,
      "query": movie_title,
  }
  
  try:
    # Send the API request using requests library
    response = requests.get(base_url, params=params)
    
    # Check for successful response
    if response.status_code == 200:
      # Parse the JSON response
      data = response.json()
      
      # Check for search results
      if data.get("results"):
        # Look for an exact title match (case-sensitive)
        for movie in data["results"]:
          if movie["title"] == movie_title:
            return movie["id"]  # Return TMDB ID if exact match found
  except Exception as e:
    print(f"Error: Unexpected error occurred while searching for '{movie_title}' - {e}")
  
  return None  # Return None if no exact match found

In [194]:
def split_before_comma(text):


  parts = text.split(",", 1)  # Split at most once

  # Return the first part (before comma) or the entire text if no comma
  return parts[0] if len(parts) > 1 else text
movies_df["movie_title"]=movies_df["movie_title"].apply(split_before_comma)

In [195]:
tmdb_id_list = []

with tqdm(total=len(movies_df["movie_title"])) as pbar:
  for movie_title in movies_df["movie_title"]:
    # Search for TMDB ID using the function
    tmdb_id = search_tmdb_by_title(movie_title)
    
    # Append the ID to the list if found
    if tmdb_id:
      tmdb_id_list.append(tmdb_id)
    else:
      tmdb_id_list.append(None)  # Append None for missing IDs

    pbar.update(1)  # Update progress bar for each iteration

# Add a new column 'tmdb_id' to the DataFrame with the retrieved IDs
movies_df['tmdb_id'] = tmdb_id_list

100%|██████████| 3883/3883 [20:39<00:00,  3.13it/s]

In [226]:
 # Assuming you have the genai library imported

model = genai.GenerativeModel('gemini-pro')
incorrect_name = "American President"
prompt = f"Correct this movie title: {incorrect_name}"
response = model.generate_content(prompt)

# Assuming a simple response structure (access text directly)
try:
  corrected_name = response.text
  print(corrected_name)
except AttributeError:
  print("Error: Could not access corrected text from response.")

AttributeError: module 'genai' has no attribute 'GenerativeModel'

In [198]:
def get_mov_desc(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language={language}"

    # Construct the API URL
    # Send the API request using requests library
    response = requests.get(url)

    # Check for successful response
    if response.status_code == 200:
    # Parse the JSON response
        data = response.json()
        
    # Extract movie title and description
        title = data["title"]
        description = data["overview"]
        
    else:
        print(f"Error: API request failed with status code {response.status_code}")
    return(description)

In [210]:
movies_df[movies_df['tmdb_id'].isnull()]

,itemID,genre,movie_title,tmdb_id
10,11,Comedy|Drama|Romance,American President,NaN
49,50,Crime|Thriller,Usual Suspects,NaN
53,54,Children's|Comedy,Big Green,NaN
57,58,Drama|Romance,Postino,NaN
59,60,Adventure|Children's|Fantasy,Indian in the Cupboard,NaN
...,...,...,...,...
3858,3928,Comedy|Horror,Abbott and Costello Meet Frankenstein,NaN
3859,3929,Comedy,Bank Dick,NaN
3860,3930,Horror,Creature From the Black Lagoon,NaN
3861,3931,Horror|Sci-Fi,Giant Gila Monster,NaN
3863,3933,Horror|Sci-Fi,Killer Shrews,NaN

In [208]:
movies_df[["tmddb_title","descript"]]=movies_df['tmdb_id'].dropna().apply(get_mov_desc)

ValueError: Columns must be same length as key

In [205]:
movie_id = 1597.0
url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language={language}"

# Construct the API URL
# Send the API request using requests library
response = requests.get(url)

# Check for successful response
if response.status_code == 200:
  # Parse the JSON response
  data = response.json()
  
  # Extract movie title and description
  title = data["title"]
  description = data["overview"]
  
  # Print the retrieved data
  print(f"Title: {title}")
  print(f"Description: {description}")
else:
  print(f"Error: API request failed with status code {response.status_code}")

Title: Meet the Parents
Description: Greg Focker is ready to marry his girlfriend, Pam, but before he pops the question, he must win over her formidable father, humorless former CIA agent Jack Byrnes, at the wedding of Pam's sister. As Greg bends over backward to make a good impression, his visit to the Byrnes home turns into a hilarious series of disasters, and everything that can go wrong does, all under Jack's critical, hawklike gaze.

In [ ]:
# # Example usage (assuming you have movie titles in a list named 'movie_titles')
# tmdb_id_map = {}
# for movie_title in movie_titles:
#   # Search for TMDB ID using the function
#   tmdb_id = search_tmdb_by_title(movie_title)
  
#   if tmdb_id:
#     tmdb_id_map[movie_title] = tmdb_id  # Store mapping if found
#   else:
#     print(f"Warning: No TMDB ID found for movie '{movie_title}'")

# Now you have a dictionary 'tmdb_id_map' that maps movie titles to their corresponding TMDB IDs (if found)
# You can use this dictionary in your subsequent script to retrieve descriptions or other movie data using the TMDB API.

In [7]:
import requests

url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMzE2NTAwYjNlYTgxNDlmMzM3M2UyODlmOTE5ZWM1NyIsInN1YiI6IjY2MDI2NWE5N2Y2YzhkMDE3Yzc0NmNjNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.yRgOLEOSOzPO0jGWiYXQ3KljmkvN4_qOt0GSXhYzzYU"
}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true,"status_code":1,"status_message":"Success."}

In [5]:
#applying tfidf to genres
recommender=TfidfRecommender(id_col="itemID")

In [6]:
clean_movies=recommender.clean_dataframe(movies_df,cols_to_clean=["genre"],new_col_name="genres")

In [7]:
tf, vectors_tokenized = recommender.tokenize_text(df_clean=clean_movies, text_col="genres")

In [8]:
recommender.fit(tf, vectors_tokenized)

In [9]:

train,validate, test = python_chrono_split(df, ratio=[0.8,0.1,0.1], filter_by="user",col_user="userID", col_item="itemID", col_timestamp="timestamp")

In [10]:
#creat rating matrix
r_matrix = df.pivot_table(index='userID', columns='itemID', values='rating')

In [11]:
#Generate recommendations based on the k most similar items to the last item rated by the user,according to timestamp,movies_df,movies info
def recommended_items(user_id,k=None):
    target_item=int(validate[validate["userID"] == user_id]["itemID"].iloc[-1])
    recommender.recommend_top_k_items(clean_movies,20)
    sim_mov=[t[1] for t in(recommender.recommendations[target_item])][:k]
    return sim_mov

In [14]:
validate[validate["userID"] == 10]["itemID"].iloc[-1]

2946

In [15]:
validate["userID"] == 10

33         False
10         False
40         False
16         False
29         False
           ...
1000146    False
999943     False
999979     False
999955     False
999981     False
Name: userID, Length: 100001, dtype: bool

In [ ]:

def actual_items(user_id, rating_matrix=r_matrix):   
    user_ratings = rating_matrix.loc[user_id]
    movies_rated = user_ratings.dropna().index.tolist()
    return movies_rated

In [ ]:
def average_recall_at_k(df, k, rating_matrix=r_matrix):
    total_recall = 0
    num_users = 0
    for user_id in df['userID'].unique():
       
        recall_at_k_value = recall_at_k(user_id, k, rating_matrix)       
        total_recall += recall_at_k_value
        num_users += 1
    average_recall = total_recall / num_users if num_users > 0 else 0
    
    return average_recall

In [ ]:
average_recall_at_k(test,20)